:root {
    --purple: #332a7c;
    --orange: #ffa000;
    --red: #f25767;
    --blue: #87dff0;
    --white: #fcfcfc;
    --gray-light: #f3f2f7;
    --gray-medium: #e7e7f7;
    --gray-dark: #bbb9d9;
  }
  
  .bg-purple {
    background-color: var(--purple);
  }
  
  .bg-orange {
    background-color: var(--orange);
  }
  
  .bg-red {
    background-color: var(--red);
  }
  
  .bg-blue {
    background-color: var(--blue);
  }
  
  .bg-white {
    background-color: var(--white);
  }
  
  .bg-gray-light {
    background-color: var(--gray-light);
  }
  
  .bg-gray-medium {
    background-color: var(--gray-medium);
  }
  
  .bg-gray-dark {
    background-color: var(--gray-dark);
  }
  
  .fg-purple {
    color: var(--purple);
  }
  
  .fg-orange {
    color: var(--orange);
  }
  
  .fg-red {
    color: var(--red);
  }
  
  .fg-blue {
    color: var(--blue);
  }
  
  .fg-white {
    color: var(--white);
  }
  
  .fg-gray-light {
    color: var(--gray-light);
  }
  
  .fg-gray-medium {
    color: var(--gray-medium);
  }
  
  .fg-gray-dark {
    color: var(--gray-dark);
  }
  
  /*  */
  
  